// Variables
@import 'modules/misc';
@import 'modules/fonts';
@import 'modules/colors';

// Foundation
@import 'modules/settings';
@import 'foundation';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-default;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $font-heading;
}

.page {
  &--primary {
    color: $color-text--inverse;
    background-color: $color-theme--primary;

    h1,
    h2,
    h3,
    h4,
    h5 {
      color: $color-text--inverse;
    }
  }
}

.cta {
  &__button {
    font-size: 1.5rem;
    text-transform: uppercase;
  }
}

.footer {
  padding: rem-calc(10) 0;
  color: $color-text--inverse;
  text-align: center;
}

.copyright {
  font-size: 80%;
}

.heart {
  position: relative;
  margin: 0 auto;
  width: rem-calc(100);
  height: rem-calc(90);
  z-index: 1;
  animation: heartbeat 1s infinite;

  &::before,
  &::after {
    position: absolute;
    content: '';
    top: 0;
    left: rem-calc(50);
    width: rem-calc(50);
    height: rem-calc(80);
    background: $color-red;
    border-radius: rem-calc(50 50 0 0);
    transform: rotate(-45deg);
    transform-origin: 0 100%;
  }

  &::after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
  }
}

@keyframes heartbeat {
  0% {transform: scale(0.75);}
  20% {transform: scale(1);}
  40% {transform: scale(0.75);}
  60% {transform: scale(1);}
  80% {transform: scale(0.75);}
  100% {transform: scale(0.75);}
}

// Photography
.heading {
  margin: 0;
  padding: 0.5rem;
  color: $color-text--inverse;
  background-color: $color-green--dark;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}

.compare {
  display: flex;
  padding: 0 0.5rem 0.5rem;

  &__image {
    &--left {
      padding-right: 0.25rem;
    }

    &--right {
      padding-left: 0.25rem;
    }

    img {
      display: block;
      max-width: 100%;
    }
  }
}

// Alice
.alice-sidebar {
  padding: 1rem;

  @media #{$large-up} {
    width: 100%;
  }
}

.alice-name {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.alice-photos {
  position: relative;
  padding: 1rem;

  .heart {
    position: absolute;
    top: -1rem;
    right: 0.5rem;
  }

  @media #{$large-up} {
    width: 100%;
  }
}
