// Variables
@import 'modules/misc';
@import 'modules/fonts';
@import 'modules/colors';

// Foundation
@import 'modules/settings';
@import 'foundation';

// Components
@import 'components/footer';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-default;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $font-heading;
}

.page {
  &--primary {
    color: $color-text--inverse;
    background-color: $color-theme--primary;

    h1,
    h2,
    h3,
    h4,
    h5 {
      color: $color-text--inverse;
    }
  }
}

.form {
  padding: 1rem;

  .button {
    margin-bottom: 0;
  }
}

.footer {
  padding: rem-calc(5) 0;
}

.cta {
  &__button {
    font-size: 1.5rem;
    text-transform: uppercase;
  }
}

.heart {
  position: relative;
  margin: 0 auto;
  width: rem-calc(100);
  height: rem-calc(90);
  z-index: 1;
  animation: heartbeat 1s infinite;

  &::before,
  &::after {
    position: absolute;
    content: '';
    top: 0;
    left: rem-calc(50);
    width: rem-calc(50);
    height: rem-calc(80);
    background: $color-red;
    border-radius: rem-calc(50 50 0 0);
    transform: rotate(-45deg);
    transform-origin: 0 100%;
  }

  &::after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
  }
}

@keyframes heartbeat {
  0% {transform: scale(0.75);}
  20% {transform: scale(1);}
  40% {transform: scale(0.75);}
  60% {transform: scale(1);}
  80% {transform: scale(0.75);}
  100% {transform: scale(0.75);}
}

// Photography
.heading {
  margin: 0;
  padding: 0.5rem;
  color: $color-text--inverse;
  background-color: $color-green--dark;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}

.compare {
  display: flex;
  padding: 0 0.5rem 0.5rem;

  &__image {
    &--left {
      padding-right: 0.25rem;
    }

    &--right {
      padding-left: 0.25rem;
    }

    img {
      display: block;
      max-width: 100%;
    }
  }
}

// Alice
.alice-sidebar {
  padding: 1rem;
  background-color: $white;

  @media #{$large-up} {
    width: 100%;
  }
}

.alice-name {
  padding-left: 3.5rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  background-image: url('#{$image-dir}alice/logo.png');
  background-repeat: no-repeat;
  background-size: auto 100%;

  @media #{$medium-up} {
    padding-left: 4.5rem;
  }

  .alice-sidebar & {
    color: $color-red;
  }
}

.alice-photos {
  position: relative;
  padding: 1rem;

  .heart {
    position: absolute;
    top: -1rem;
    right: 0;
  }

  &__row {
    display: flex;

    > div {
      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    &--2-1 {
      > div {
        &:first-child {
          flex: 2;
        }
      }
    }

    &--1-2 {
      > div {
        &:last-child {
          flex: 2;
        }
      }
    }
  }

  @media #{$large-up} {
    width: 100%;
  }
}

.alice-photo {
  flex: 1;
  margin: 0.25rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &[data-photo='1'] {
    background-image: url('#{$image-dir}alice/1.jpg');
  }

  &[data-photo='2'] {
    background-image: url('#{$image-dir}alice/2.jpeg');
  }

  &[data-photo='3'] {
    background-image: url('#{$image-dir}alice/3.jpg');
  }

  &[data-photo='4'] {
    background-image: url('#{$image-dir}alice/4.jpg');
  }

  &[data-photo='5'] {
    background-image: url('#{$image-dir}alice/5.jpg');
  }

  &[data-photo='6'] {
    background-image: url('#{$image-dir}alice/6.jpg');
  }

  &[data-photo='7'] {
    background-image: url('#{$image-dir}alice/7.jpg');
  }

  &[data-photo='8'] {
    background-image: url('#{$image-dir}alice/8.jpg');
  }

  &[data-photo='9'] {
    background-image: url('#{$image-dir}alice/9.jpg');
  }

  &[data-photo='10'] {
    background-image: url('#{$image-dir}alice/10.jpg');
  }

  &::after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }
}

// Hashtags
.hashtags {
  margin: 0 auto;
  padding: 1rem;
  width: 100%;
}


.checkbox-tags {
  margin: 0;
  padding: 0.5rem 0 1rem;
  list-style: none;

  li {
    display: inline;
  }

  label {
    padding: rem-calc(8 12);
    border: rem-calc(2) solid $color-green--dark2;
    color: $color-green--dark;
    background-color: $color-white;
    white-space: nowrap;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all 0.2s;
    cursor: pointer;

    &::before {
      content: '\f067';
      display: inline-block;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      font: normal normal normal 14px/1 FontAwesome;
      padding: rem-calc(2 6 2 2);
      transition: transform 0.3s ease-in-out;
    }
  }

  input {
    position: absolute;
    opacity: 0;

    + label {
      margin: 0 0.5rem 0 0;
    }

    &:checked {
      + label {
        border: rem-calc(2) solid $color-green--dark;
        background-color: $color-green--dark2;
        color: $color-white;

        &::before {
          content: '\f00c';
          transform: rotate(-360deg);
        }
      }
    }
  }
}
