// Variables
@import 'modules/misc';
@import 'modules/fonts';
@import 'modules/colors';

// Foundation
@import 'modules/settings';
@import 'foundation';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-default;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $font-heading;
}

.page {
  &--primary {
    color: $color-text--inverse;
    background-color: $color-theme--primary;

    h1,
    h2,
    h3,
    h4,
    h5 {
      color: $color-text--inverse;
    }
  }
}

.cta {
  &__button {
    font-size: 1.5rem;
    text-transform: uppercase;
  }
}

.footer {
  padding: rem-calc(10) 0;
  color: $color-text--inverse;
  text-align: center;
}

.copyright {
  font-size: 80%;
}

// Photography
.heading {
  margin: 0;
  padding: 0.5rem;
  color: $color-text--inverse;
  background-color: $color-green--dark;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}

.compare {
  display: flex;
  padding: 0 0.5rem 0.5rem;

  &__image {
    &--left {
      padding-right: 0.25rem;
    }

    &--right {
      padding-left: 0.25rem;
    }

    img {
      display: block;
      max-width: 100%;
    }
  }
}

// Alice
.page--alice {
  padding: 1rem;
}

.alice-sidebar {
  @media #{$large-up} {
    width: 20%;
  }
}

.alice-photos {
  @media #{$large-up} {
    width: 80%;
  }
}
