// Variables
@import 'modules/misc';
@import 'modules/fonts';
@import 'modules/colors';

// Components
@import 'components/resume/nav-button';
@import 'components/resume/bar';
@import 'components/resume/header';
@import 'components/resume/experience';
@import 'components/resume/skill';
@import 'components/resume/progress';
@import 'components/resume/reference';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: $color-neutral;
  font-family: $font-default;
  color: $color-text--normal;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $font-heading;
}

a {
  text-decoration: none;
  color: $color-text--normal;
}

.page {
  margin: 0 auto;
  width: 595px;
  height: 842px;
  background-color: $color-white;

  &--two {
    display: none;

    .main {
      height: 800px;
    }
  }
}

.main {
  height: 600px;
  overflow: hidden;
}

@media only screen and (max-width: 595px) {
  .page {
    width: 100%;
    height: 100%;

    &--one,
    &--two {
      /* stylelint-disable-next-line declaration-no-important */
      display: block !important;
    }
  }

  .main {
    height: auto;
  }
}
