// Descriptive variables

$color-green: #88C5CC;
$color-green--light: #E8F8FA;
$color-green--light2: #BAE4E8;
$color-green--dark: #59A1A8;
$color-green--dark2: #37848B;

$color-orange: #FFD1A9;
$color-orange--light: #FFF5ED;
$color-orange--light2: #FFE4CC;
$color-orange--dark: #FFC085;
$color-orange--dark2: #E49A58;

$color-yellow: #FFE3A9;
$color-yellow--light: #FFF9ED;
$color-yellow--light2: #FFEFCC;
$color-yellow--dark: #FFD885;
$color-yellow--dark2: #E4B758;

$color-blue: #95A6D4;
$color-blue--light: #EBEFFB;
$color-blue--light2: #C2CDEC;
$color-blue--dark: #697EB6;
$color-blue--dark2: #465C99;

$color-red: #FFADA9;
$color-red--light: #FFEEED;
$color-red--light2: #FFCFCC;
$color-red--dark: #FF8B85;
$color-red--dark2: #E45F58;

$color-white: #FFFFFF;
$color-neutral: #EEEEEE;
$color-neutral2: #CCCCCC;
$color-neutral3: #AAAAAA;
$color-neutral4: #999999;
$color-dark: #6C6E6E;
$color-dark2: #565A5C;
$color-dark3: #333333;
$color-black: #000000;

// Functional variables

// Theme
$color-theme--primary: $color-green;
$color-theme--secondary: $color-orange--dark;
$color-theme--tertiary: $color-yellow;

// Text
$color-text--normal: $color-dark2;
$color-text--inverse: $color-white;
$color-text--heading: $color-yellow--dark;
$color-text--sub-heading: lighten($color-yellow--dark, 5%);

// Spinner
$color-spinner--normal: $color-green;
$color-spinner--inverse: $color-white;
