/**
 * Fonts in alphabetical order.
 */

// Descriptive variables
$font-lato: 'Lato', sans-serif;
$font-open-sans: 'Open Sans', sans-serif;
$font-muli: 'Muli', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;

// Functional variables
$font-default: $font-open-sans;
$font-heading: $font-montserrat;
