// Descriptive variables

$font-open-sans: 'Open Sans', sans-serif;
$font-muli: 'Muli', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;
$font-league-script: 'League Script', cursive;

// Functional variables

$font-default: $font-open-sans;
$font-heading: $font-montserrat;
$font-heading--section: $font-league-script;
