.business {
  display: flex;
  align-items: center;

  &__logo {
    margin-right: $section-margin--xlarge;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background: url('#{$image-dir}logo.svg') no-repeat;
    background-size: cover;
  }

  &__name {
    margin: 0 0 $section-margin--tiny;
  }

  &__phone {
    margin-top: $section-margin--small;
  }
}
