.invoice {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__title {
    margin: 0 0 $section-margin--tiny;
    text-transform: uppercase;
  }

  &__total {
    margin-top: auto;
    font-size: $font-size--medium;
  }
}
