.page {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: $a4-page-width;
  height: $a4-page-height;
  font-size: $font-size;
  background-color: $color-white;

  @include print() {
    height: 100vh;
    overflow: hidden;
  }
}

.main {
  flex-grow: 1;
}
