.page {
  margin: 0 auto;
  width: $a4-page-width;
  height: $a4-page-height;
  background-color: $color-white;
}

header {
  background-color: $color-neutral-light;
}

.main {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: $a4-page-height - $a4-header-height - ($a4-bar-height * 2);

  > section:nth-child(even) {
    background-color: $color-neutral-light;
  }
}
