.price {
  padding: $section-margin--large;

  &__table {
    width: 100%;
    border-collapse: collapse;

    thead {
      background-color: $color-green--light;
    }

    th {
      padding: $section-margin--small $section-margin;
      text-align: left;
    }

    p {
      margin: 0;
    }

    small {
      color: $color-neutral3;
    }

    td {
      padding: 0 $section-margin;
    }

    tbody {
      border-bottom: 0.0625rem solid $color-neutral;

      td {
        padding-top: $section-margin--small;
        padding-bottom: $section-margin--small;
      }
    }

    tfoot {
      tr {
        &:first-of-type {
          td {
            padding-top: $section-margin--medium;
          }
        }
      }

      td {
        padding: ($section-margin--tiny * 2) $section-margin;
      }
    }
  }

  &__label {
    text-align: right;
    text-transform: uppercase;
  }

  &__total {
    font-weight: $font-weight-bold;
  }
}
