$a4-page-width: 210mm;
$a4-page-height: 297mm;

$section-margin--tiny: 0.2rem;
$section-margin--small: 1rem;
$section-margin--medium: 1.5rem;
$section-margin: 2rem;
$section-margin--large: 3rem;
$section-margin--xlarge: 5rem;
