.about {
  &__title {
    background-color: $color-red--dark;
  }

  &__content {
    padding: 3rem;
  }
}

.profile-pic {
  display: none;
  background: $color-theme--primary url('#{$image-dir}profile-pic.jpg') no-repeat;
  background-size: cover;
  z-index: 300;

  @media #{$xlarge-up} {
    display: block;
    position: absolute;
    top: rem-calc(120);
    right: rem-calc(-50);
    width: rem-calc(100);
    height: rem-calc(100);
    border-radius: rem-calc(50);
  }
}
