.banner {
  @include grid-column(12);
  min-height: rem-calc(500);
  background: $color-theme--primary;
  padding-top: rem-calc(300);
  padding-left: 5%;
  -webkit-transition: height 0.5s ease;
  -moz-transition: height 0.5s ease;
  -o-transition: height 0.5s ease;
  -ms-transition: height 0.5s ease;

  @media #{$large-up} {
    min-height: rem-calc(600);
  }

  &__heading {
    color: $color-text--inverse;
    -webkit-transition: font-size 0.5s ease;
    -moz-transition: font-size 0.5s ease;
    -o-transition: font-size 0.5s ease;
    -ms-transition: font-size 0.5s ease;

    @media #{$large-up} {
      font-size: $h2-font-size * 1.5;
    }

    &:first-of-type {
      margin-top: rem-calc(50);
      margin-bottom: 0;
      text-transform: uppercase;
    }

    &:last-of-type {
      margin-top: 0;
    }
  }
}
