.banner {
  @include grid-column(12);
  min-height: rem-calc(500);
  background: $color-theme--primary;
  padding-top: rem-calc(300);
  padding-left: 5%;

  &__heading {
    color: $color-text--inverse;
    text-transform: uppercase;

    &:first-of-type {
      margin-top: rem-calc(50);;
      margin-bottom: 0;
    }

    &:last-of-type {
      margin-top: 0;
    }
  }
}
