.contact {
  &__title {
    background-color: $color-theme--primary;
  }

  &__content {
    padding: 3rem;
    text-align: center;
  }

  &__email-button {
    border-radius: 6px;
    margin-bottom: 4rem;
  }

  &__social {
    .fa {
      min-width: 3rem;
      font-size: 1.5rem;

      @media #{$medium-up} {
        min-width: 4rem;
        font-size: 2rem;
      }

      @media #{$large-up} {
        min-width: 3rem;
        font-size: 2rem;
      }

      @media #{$xlarge-up} {
        min-width: 4rem;
        font-size: 2.5rem;
      }
    }
  }
}
