.heading {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: $color-text--heading;
  text-transform: uppercase;
  font-weight: 600;

  &--inverse {
    color: $color-text--inverse;
  }
}

.sub-heading {
  color: $color-text--sub-heading;
  margin-bottom: 1rem;

  &--inverse {
    color: $color-text--inverse;
  }
}
