.section {
  padding: 0;
  min-height: rem-calc(500);

  &__title,
  &__content {
    height: 100%;
    z-index: 200;
    background-color: $color-theme--primary;

    @media #{$medium-up} {
      width: 50%;
    }
  }

  &__title {

  }

  &__content {
  }
}
