$color-fc: #ED303D;
$color-zippity: #46D7C6;

.works {
  @include grid-column(12);
  padding-top: rem-calc(20);
  padding-bottom: rem-calc(20);
}

.work {
  @include grid-column(12);
  padding-top: rem-calc(20);
  padding-bottom: rem-calc(20);
  min-height: rem-calc(500);

  &--fc {
    border-bottom: 1px solid $color-neutral;
    // background-color: #F1D9DB;
  }

  &--zippity {
    border-bottom: 1px solid $color-neutral;
    // background-color: #CBE8E5;
  }
}
