.work {
  &__title {
    background-color: $color-theme--primary;
  }

  &--flight-centre {
    background-color: $color-green--light2;
  }

  &--zippity {
    background-color: $color-green--light2;
  }
}
