{{#skills}}
  <section class="skill">
    <h5 class="skill__name">{{{ name }}}</h5>
    <div class="skill__level">
      <div class="progress">
        <div class="js-progress progress__bar" data-progress="{{ level }}"></div>
      </div>
    </div>
  </section>
{{/skills}}
