.intro {
  min-height: 500px;
  background: $color-theme--primary;
  padding-top: rem-calc(300);
  padding-left: 5%;

  h2 {
    color: $color-white;
    text-transform: uppercase;

    &:first-of-type {
      margin-top: 50px;
      margin-bottom: 0;
    }

    &:last-of-type {
      margin-top: 0;
    }
  }
}

#about {
  min-height: 500px;
}

#contact {
  background: $color-neutral;
}

.profile-pic {
  width: 100%;
  max-width: 200px;
  border-radius: 100px;
}

// Desktop.
@media #{$large-up} {
  #intro {
    h2 {
      font-size: $h2-font-size * 1.5;
    }
  }
}
