.top-bar,
.bottom-bar {
  background-color: $color-theme--primary;
  height: 21px;
}

.page {
  &--one {
    .bottom-bar {
      display: none;
    }
  }

  &--two {
    .top-bar {
      display: none;
    }
  }
}

@media only screen and (min-width: 900px) {
  .page {
    &--one {
      .bottom-bar {
        display: block;
      }
    }

    &--two {
      .top-bar {
        display: block;
      }
    }
  }
}
