.bar {
  background-color: $color-theme--primary;
  height: $a4-bar-height;
}

.page--one .bar--bottom,
.page--two .bar--top {
  display: none;
}

@media only screen and (min-width: 900px) {
  .page--one .bar--bottom,
  .page--two .bar--top {
    display: block;
  }
}

@media print {
  .page--one .bar--bottom,
  .page--two .bar--top {
    display: block;
  }
}
