* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: $color-neutral;
  font-family: $font-default;
  color: $color-text--normal;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $font-heading;
}

a {
  text-decoration: none;
  color: $color-text--normal;
}
