//.educations {
//  @include medium-screen(true) {
//    margin-top: auto;
//  }
//}

.education {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }

  &__overview {
    padding: 0 1.25rem;
    width: 100%;
    text-align: center;
  }

  &__period {
    margin: 0.3rem 0;
  }

  &__title {
    margin: 0;
  }

  &__institution {
    margin: 0.2rem 0 0;
    font-size: 0.75rem;
    color: $color-theme--primary;
    text-transform: uppercase;
  }

  &__details {
    width: 100%;
    text-align: center;
  }

  &__description {
    margin: 0.3rem 0 0;
    font-size: 0.8rem;
  }
}

//@media only screen and (min-width: 720px) {
//  .education {
//    padding: 0 0 0 1rem;
//
//    &__overview {
//      padding: 0 0 0 0.625rem;
//      width: 30%;
//      text-align: right;
//    }
//
//    &__details {
//      width: 70%;
//      margin-bottom: 0;
//      padding: 0 1.25rem 0.8rem;
//      text-align: left;
//    }
//  }
//}
