.education {
  margin-bottom: $section-margin--small;

  @include medium-screen(true) {
    display: flex;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__overview {
    text-align: center;

    @include medium-screen(true) {
      width: 30%;
      text-align: left;
    }
  }

  &__period {
    margin: $section-margin--tiny 0 0;
  }

  &__title {
    margin: 0;
  }

  &__institution {
    margin: $section-margin--tiny 0 0;
    font-size: 0.8rem;
    color: $color-theme--primary;
    text-transform: uppercase;
  }

  &__details {
    text-align: center;

    @include medium-screen(true) {
      width: 70%;
      text-align: left;
    }
  }

  &__description {
    margin-top: $section-margin--tiny;
    font-size: 0.8rem;
  }
}
