.educations {
  &__title {
    width: 100%;
    text-align: center;
  }
}

.education {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;

  &__overview {
    padding-left: 10px;
    width: 30%;
    text-align: right;
  }

  &__period {
    margin-top: 5px;
  }

  &__title {
    margin: 0;
  }

  &__institution {
    margin: 0.2rem 0 0;
    font-size: 0.75rem;
    color: $color-theme--primary;
    text-transform: uppercase;
  }

  &__details {
    width: 70%;
    padding: 0 1.25rem 0.8rem;
  }

  &__description {
    margin: 0.3rem 0 0;
    font-size: 13px;
  }
}

@media only screen and (max-width: 595px) {
  .education {
    &__overview {
      padding: 0 1.25rem;
      width: 100%;
      text-align: center;
    }

    &__details {
      margin-bottom: 1.25rem;
      width: 100%;
      text-align: center;
    }
  }
}
