.experiences {
  &__title {
    width: 100%;
    text-align: center;
  }
}

.experience {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  padding: 0 2rem;

  &__overview {
    padding: 0 1.25rem;
    width: 100%;
    text-align: center;
  }

  &__employer {
    margin: 0;
    color: $color-theme--primary;
    text-transform: uppercase;
  }

  &__period {
    margin-top: 5px;
  }

  &__details {
    margin-bottom: 1.25rem;
    width: 100%;
    text-align: center;
  }

  &__title {
    margin: 0;
  }

  &__description {
    margin-top: 5px;
    font-size: 13px;
  }
}

@media only screen and (min-width: 900px) {
  .experience {
    padding: 0;

    &__overview {
      padding: 0 0 10px;
      width: 30%;
      text-align: right;
    }

    &__details {
      margin-bottom: 0;
      width: 70%;
      padding: 0 1.25rem;
      text-align: left;
    }
  }
}
