$profile-pic-size: 7rem !default;

.header {
  padding: $section-margin;
  background-color: $color-neutral-light;
  text-align: center;

  @include medium-screen(true) {
    display: flex;
  }

  &__left {
    @include medium-screen(true) {
      width: 30%;
    }
  }

  &__right {
    @include medium-screen(true) {
      display: flex;
      padding-left: $section-margin--large;
      flex-wrap: wrap;
      width: 70%;
    }

    > section {
      margin: $section-margin--small 0;

      @include medium-screen(true) {
        margin: 0;
        width: 50%;
      }

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.profile-pic {
  $size: 7rem;

  margin: 0 auto;
  width: $profile-pic-size;
  height: $profile-pic-size;
  border-radius: 50%;
  background: $color-theme--primary url('#{$image-dir}profile-pic.jpg') no-repeat;
  background-size: cover;
}

.full-name {
  margin: $section-margin--small 0 0;
  text-transform: uppercase;
}

.job-title {
  margin: $section-margin--tiny 0 $section-margin--small;
  font-size: 0.8rem;
  font-weight: normal;
}

.contact-info {
  display: flex;
  align-items: center;
  text-align: left;

  &__icon {
    margin-right: $section-margin--small;
  }

  &__heading {
    margin: 0;
  }

  &__text {
    font-size: 0.625rem;
  }
}
