$nav-icon-size: 3.75rem;

.nav-button {
  display: none;
}

@media only screen and (min-width: 900px) {
  .nav-button {
    display: block;
    position: fixed;
    top: $a4-page-height / 2;
    margin-top: -($nav-icon-size / 2);
    padding: 0 0.5rem;
    height: $nav-icon-size;
    border-radius: $nav-icon-size;
    transition: background-color 0.5s ease;
    background-color: $color-neutral-light;

    .fa {
      width: $nav-icon-size - 1;
      line-height: $nav-icon-size;
      color: $color-theme--primary;
      font-weight: $font-weight-highlight;
      font-size: 2rem;
      text-align: center;
    }

    &:hover {
      background-color: $color-white;
    }

    &--previous {
      text-align: right;
      right: calc(50% + 21.5rem);
    }

    &--next {
      left: calc(50% + 21.5rem);
    }
  }
}
