$nav-icon-size: 44px;

.nav-button {
  position: fixed;
  top: 842px;
  padding: 0 10px;
  width: 595px;
  height: $nav-icon-size;
  background-color: $color-white;

  .fa {
    width: $nav-icon-size;
    line-height: $nav-icon-size;
    color: $color-theme--primary;
    font-weight: $font-weight-highlight;
    text-align: center;
  }

  &--next {
    text-align: right;
  }
}

@media only screen and (max-width: 595px) {
  .nav-button {
    display: none;
  }
}
