.page {
  display: block !important;
  background-color: $color-white;

  @include mobile-screens(true) {
    /* stylelint-disable-next-line declaration-no-important */
    display: block !important;
  }

  @include large-screen(true) {
    display: flex;
    margin: 0 auto;
    width: $a4-page-width;
    height: $a4-page-height;
    flex-direction: column;
  }
}

.main {
  > section:nth-child(odd) {
    background-color: $color-neutral-light;
  }

  @include large-screen(true) {
    display: flex;
    height: $a4-page-height - ($a4-bar-height * 2);
    flex-direction: column;
    flex-grow: 1;
  }

  .page--two & {
    > section:nth-child(odd) {
      background-color: $color-white;
    }

    > section:nth-child(even) {
      background-color: $color-neutral-light;
    }
  }
}

.section {
  padding: $section-margin--medium;

  @include medium-screen(true) {
    padding-right: 5rem;
    padding-left: 5rem;
  }

  &__title {
    margin: 0;
    padding-bottom: $section-margin--medium;
    text-align: center;
    text-transform: uppercase;

    @include medium-screen(true) {
      text-align: left;
    }
  }
}
