.references {
  @include medium-screen(true) {
    display: flex;
    margin-top: auto;
    flex-wrap: wrap;

    &__title {
      width: 100%;
    }
  }
}

.reference {
  margin-bottom: $section-margin;
  width: 100%;
  font-size: 0.8rem;
  text-align: center;

  @include medium-screen(true) {
    width: 50%;
    text-align: left;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__name {
    margin: 0;
  }

  &__title {
    margin: $section-margin--tiny 0;
    color: $color-theme--primary;
    text-transform: uppercase;
  }

  .fa {
    margin-right: $section-margin--tiny;
  }
}
