.skills {
  @include medium-screen(true) {
    display: flex;
    flex-wrap: wrap;

    &__title {
      width: 100%;
    }

    > section:nth-child(even) {
      margin-right: $section-margin--large;
    }
  }
}

.skill {
  display: flex;
  margin-bottom: $section-margin--tiny;
  align-items: center;

  @include medium-screen(true) {
    width: 45%;
  }

  &__name {
    margin: 0;
    width: 30%;
    text-align: right;
    font-weight: normal;

    @include medium-screen(true) {
      text-align: left;
      width: 40%;
    }
  }

  &__level {
    padding: 0 $section-margin--small;
    width: 60%;

    @include medium-screen(true) {
      padding: 0;
    }
  }

  &--language {
    @include medium-screen(true) {
      width: 60%;
    }
  }
}
