.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 2rem;

  &__title {
    width: 100%;
    text-align: center;
  }

  > section {
    margin-bottom: 0.2rem;
    width: 100%;
  }

  &--language {
    padding-bottom: 3rem;
  }
}

.skill {
  display: flex;
  align-items: center;

  &__name {
    margin: 0;
    width: 30%;
    text-align: right;
    font-weight: normal;
  }

  &__level {
    padding: 0 1.25rem;
    width: 60%;
  }
}

@media only screen and (min-width: 720px) {
  .skills {
    > section {
      width: 45%;
    }
  }

  .skill {
    &__name {
      width: 40%;
    }
  }
}
