<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <title>Alice Yang</title>

  <!-- Meta Tags -->
  <meta name="keywords"
        content="portfolio, web design, filters, presets, lightroom, freelance, freelancer, photography, australia"/>
  <meta name="description" content="Free lightroom preset."/>

  <!-- Canonical Link -->
  <link rel="canonical" href="//peterwong.me/alice">

  <!-- Favicon -->
  <link rel="icon" href="favicon.png" type="image/x-icon"/>
  <link rel="shortcut icon" href="favicon.png" type="image/x-icon"/>

  <!-- CSS -->
  <link media="all" type="text/css" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <link href="css/pages.min.css" rel="stylesheet">

  <!-- Fonts -->
  <link href="//fonts.googleapis.com/css?family=
				Open+Sans:300normal,300italic,400normal,400italic,600normal,600italic,700normal,700italic,800normal,800italic|
				Open+Sans+Condensed:300normal|
				League+Script|
				Montserrat:400normal|
				Muli&subset=all" rel="stylesheet" type="text/css">
</head>

<body>
<div class="page page--primary">
  <section class="main main--alice">
    <div class="alice-sidebar">
      <div>
        <h1 class="alice-name">Alice Yang</h1>
        <div class="alice-job">Nurse</div>
      </div>
    </div>
    <div class="alice-photos">
      <div class="heart"></div>
      <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 200 }'>
        <div class="grid-item">
          <img src="images/alice/1.jpg" />
        </div>
      </div>
    </div>
  </section>
  <footer class="footer">
    <div class="copyright">Design & Created by Peter Wong &copy; <span class="js-prefill" data-type="current-year">2019</span></div>
  </footer>
</div>

<!-- JS -->
<script src="js/helper.min.js"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
</body>
</html>
