<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <title>Alice Yang</title>

  <!-- Meta Tags -->
  <meta name="keywords"
        content="portfolio, web design, filters, presets, lightroom, freelance, freelancer, photography, australia"/>
  <meta name="description" content="Free lightroom preset."/>

  <!-- Canonical Link -->
  <link rel="canonical" href="//peterwong.me/alice">

  <!-- Favicon -->
  <link rel="icon" href="favicon.png" type="image/x-icon"/>
  <link rel="shortcut icon" href="favicon.png" type="image/x-icon"/>

  <!-- CSS -->
  <link media="all" type="text/css" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <link href="css/pages.min.css" rel="stylesheet">

  <!-- Fonts -->
  <link href="//fonts.googleapis.com/css?family=
				Open+Sans:300normal,300italic,400normal,400italic,600normal,600italic,700normal,700italic,800normal,800italic|
				Open+Sans+Condensed:300normal|
				League+Script|
				Montserrat:400normal|
				Muli&subset=all" rel="stylesheet" type="text/css">
</head>

<body>
<div class="page page--primary">
  <section class="main main--alice">
    <div class="alice-sidebar">

      <div id="logo" data-content-field="site-title">
        <h1 class="logo site-title" style="letter-spacing: 0.1em;">Alice Yang</h1>
        <div class="logo-subtitle">Nurse</div>
      </div>

      <div>
        <a href="https://www.facebook.com/erikjohanssonphoto" target="_blank" class="sqs-svg-icon--wrapper facebook">
          <div>
            <svg class="sqs-svg-icon--social" viewBox="0 0 64 64">
              <use class="sqs-use--icon" xlink:href="#facebook-icon"></use>
              <use class="sqs-use--mask" xlink:href="#facebook-mask"></use>
            </svg>
          </div>
        </a>

        <a href="https://twitter.com/tackochgodnatt" target="_blank" class="sqs-svg-icon--wrapper twitter">
          <div>
            <svg class="sqs-svg-icon--social" viewBox="0 0 64 64">
              <use class="sqs-use--icon" xlink:href="#twitter-icon"></use>
              <use class="sqs-use--mask" xlink:href="#twitter-mask"></use>
            </svg>
          </div>
        </a>

        <a href="http://instagram.com/erik.joh" target="_blank" class="sqs-svg-icon--wrapper instagram">
          <div>
            <svg class="sqs-svg-icon--social" viewBox="0 0 64 64">
              <use class="sqs-use--icon" xlink:href="#instagram-icon"></use>
              <use class="sqs-use--mask" xlink:href="#instagram-mask"></use>
            </svg>
          </div>
        </a>

        <a href="http://www.youtube.com/channel/UCjLYVUB1qQquMTSL4n8NY8g" target="_blank" class="sqs-svg-icon--wrapper youtube">
          <div>
            <svg class="sqs-svg-icon--social" viewBox="0 0 64 64">
              <use class="sqs-use--icon" xlink:href="#youtube-icon"></use>
              <use class="sqs-use--mask" xlink:href="#youtube-mask"></use>
            </svg>
          </div>
        </a>

      </div>
    </div>
    <div class="alice-photos">
      <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 200 }'>
        <div class="grid-item">
          <img src="images/alice/1.jpg" />
        </div>
      </div>
    </div>
  </section>
  <footer class="footer">
    <div class="copyright">Design & Created by Peter Wong &copy; <span class="js-prefill" data-type="current-year">2019</span></div>
  </footer>
</div>

<!-- JS -->
<script src="js/helper.min.js"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
</body>
</html>
