<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <title>Instagram</title>

  <!-- Meta Tags -->
  <meta name="description" content="Instagram tool."/>

  <!-- Canonical Link -->
  <link rel="canonical" href="//peterwong.me/instagram">

  <!-- Favicon -->
  <link rel="icon" href="favicon.png" type="image/x-icon"/>
  <link rel="shortcut icon" href="favicon.png" type="image/x-icon"/>

  <!-- CSS -->
  <link media="all" type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <link href="css/pages.min.css" rel="stylesheet">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=
				Open+Sans:300normal,300italic,400normal,400italic,600normal,600italic,700normal,700italic,800normal,800italic|
				Open+Sans+Condensed:300normal|
				League+Script|
				Montserrat:400normal|
				Muli&subset=all" rel="stylesheet" type="text/css">
</head>

<body>
<div class="page page--full">
  <section class="main main--primary">
    <form class="form js-hashtags-form">
      <h3>Hashtags</h3>
      <label>Categories: </label>
      <ul class="checkbox-tags">
        <li><input id="type_any" class="hashtag-type" type="checkbox" value="any" checked /><label for="type_any">Any</label></li>
        <li><input id="type_travel" class="hashtag-type" type="checkbox" value="travel" /><label for="type_travel">Travel</label></li>
        <li><input id="type_landscape" class="hashtag-type" type="checkbox" value="landscape" /><label for="type_landscape">Landscape</label></li>
        <!--<li><input id="type_portrait" class="hashtag-type" type="checkbox" value="portrait" /><label for="type_portrait">Portrait</label></li>-->
        <!--<li><input id="type_urban" class="hashtag-type" type="checkbox" value="urban" /><label for="type_urban">Urban</label></li>-->
        <li><input id="type_nature" class="hashtag-type" type="checkbox" value="nature" /><label for="type_nature">Nature</label></li>
        <li><input id="type_food" class="hashtag-type" type="checkbox" value="food" /><label for="type_food">Food</label></li>
        <li><input id="type_couples" class="hashtag-type" type="checkbox" value="couples" /><label for="type_couples">Couples</label></li>
      </ul>
      <label>Location: </label>
      <ul class="checkbox-tags">
        <li><input id="type_asia" class="hashtag-type" type="checkbox" value="asia" checked /><label for="type_asia">Asia</label></li>
        <li><input id="type_taiwan" class="hashtag-type" type="checkbox" value="taiwan" checked /><label for="type_taiwan">Taiwan</label></li>
      </ul>
      <label>Camera: </label>
      <ul class="checkbox-tags">
        <li><input id="type_a7iii" class="hashtag-type" type="checkbox" value="a7iii" checked /><label for="type_a7iii">Sony a7 III</label></li>
      </ul>
      <!--<label>Weather: </label>-->
      <!--<ul class="checkbox-tags">-->
        <!--<li><input id="weather_sunny" class="hashtag-type" type="checkbox" value="sunny" /><label for="weather_sunny">Sunny</label></li>-->
        <!--<li><input id="weather_rainy" class="hashtag-type" type="checkbox" value="rainy" /><label for="weather_rainy">Rainy</label></li>-->
        <!--<li><input id="weather_cloudy" class="hashtag-type" type="checkbox" value="cloudy" /><label for="weather_cloudy">Cloudy</label></li>-->
        <!--<li><input id="weather_misty" class="hashtag-type" type="checkbox" value="misty" /><label for="weather_misty">Misty</label></li>-->
        <!--<li><input id="weather_night" class="hashtag-type" type="checkbox" value="night" /><label for="weather_night">Night</label></li>-->
      <!--</ul>-->
      <label>Language: </label>
      <ul class="checkbox-tags">
        <li><input id="language_english" class="hashtag-language" type="checkbox" value="english" checked /><label for="language_english">English</label></li>
        <li><input id="language_chinese" class="hashtag-language" type="checkbox" value="chinese" /><label for="language_chinese">Chinese</label></li>
      </ul>
      <label>Custom hashtags (1 word per line): </label>
      <textarea id="custom_hashtags" placeholder="customhashtag" rows="7"></textarea>
      <input type="submit" class="button secondary" value="Submit">
    </form>
    <div class="hashtags-count js-hashtags-count"></div>
    <div class="hashtags js-hashtags"></div>
  </section>
  <footer class="footer">
    <div class="copyright">Design & Created by Peter Wong &copy; <span class="js-prefill" data-type="current-year">2019</span></div>
  </footer>
</div>

<!-- JS -->
<script src="js/helper.min.js"></script>
<script src="js/pages.min.js"></script>
</body>
</html>
