<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <title>Peter's Invoice</title>

  <!-- Canonical Link -->
  <link rel="canonical" href="//peterwong.me/invoice">

  <!-- Favicon -->
  <link rel="icon" href="favicon.png" type="image/x-icon"/>
  <link rel="shortcut icon" href="favicon.png" type="image/x-icon"/>

  <!-- CSS -->
  <link media="all" type="text/css" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <link media="all" type="text/css" rel="stylesheet" href="css/invoice.min.css">

  <!-- Fonts -->
  <link href="//fonts.googleapis.com/css?family=
				Open+Sans:300normal,300italic,400normal,400italic,600normal,600italic,700normal,700italic,800normal,800italic|
				Open+Sans+Condensed:300normal|
				League+Script|
				Montserrat:400normal|
				Muli&subset=all" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="page">
    <header class="header">
      <div class="header__business">
        <div class="business">
          <div class="business__logo"></div>
          <div class="business__details">
            <h2 class="business__name js-name">Business Name</h2>
            <div class="business__abn">ABN: <span class="js-abn">11122233344</span></div>
            <div class="business__address js-address">Address in Australia</div>
            <div class="business__phone js-phone">0412345678</div>
            <div class="business__email js-email">peterwong.nomad@gmail.com</div>
          </div>
        </div>
      </div>
      <div class="header__invoice">
        <div class="invoice">
          <h2 class="invoice__title">Tax Invoice</h2>
          <div class="invoice__number js-invoice-number"></div>
          <div class="invoice__date">
            <div class="editable js-editable">
              <span>Date: </span>
              <input type="date" class="editable__input js-input js-invoice-date" value="" />
              <span class="editable__label js-label"></span>
            </div>
          </div>
          <div class="invoice__due-date">
            <div class="editable js-editable">
              <span>Due Date: </span>
              <input type="date" class="editable__input js-input js-due-date" value="" />
              <span class="editable__label js-label"></span>
            </div>
          </div>
          <div class="invoice__total js-total">$0.00</div>
        </div>
      </div>
    </header>
    <section class="main">
      <div class="client">
        <h3 class="client__title">Bill To</h3>
        <div class="client__name js-client-name">Client Name</div>
        <div class="client__address js-client-address">Full Client Address</div>
      </div>

      <div class="price">
        <table class="price__table">
          <thead>
            <tr>
              <th colspan="4">Services</th>
              <th colspan="1">Hours</th>
              <th colspan="2">Rate</th>
              <th colspan="2">Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="4">
                <div class="editable js-editable">
                  <input type="text" class="editable__input js-input" value="Freelance Web Development Service" />
                  <p class="editable__label js-label">Freelance Web Development Service</p>
                </div>
                <div class="editable js-editable">
                  <input type="date" class="editable__input js-start-date" value="" />
                  <input type="date" class="editable__input js-end-date" value="" />
                  <input type="text" class="editable__input js-input js-notes" value="" />
                  <small class="editable__label js-label js-job-notes">Service Notes</small>
                </div>
              </td>
              <td colspan="1">
                <div class="editable js-editable">
                  <input type="number" class="editable__input js-input js-hours" value="0" />
                  <span class="editable__label js-label">0</span>
                </div>
              </td>
              <td colspan="2">
                <input type="hidden" class="js-rate" value="0" />
                <span class="js-label">$0.00</span>
              </td>
              <td colspan="2" class="price__amount js-subtotal">$0.00</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="7" class="price__label">Subtotal</td>
              <td colspan="2" class="price__amount js-subtotal">$0.00</td>
            </tr>
            <tr>
              <td colspan="7" class="price__label">GST</td>
              <td colspan="2" class="price__amount js-gst">$0.00</td>
            </tr>
            <tr>
              <td colspan="7" class="price__label price__total">Total</td>
              <td colspan="2" class="price__amount price__total js-total">$0.00</td>
            </tr>
          </tfoot>
        </table>
      </div>
    </section>
    <footer class="footer">
      <div class="payment">
        <h3 class="payment__title">Payment</h3>
        <div class="bank">
          <div class="contact-bank__icon">
            <i class="fa fa-university" aria-hidden="true"></i>
            <span class="bank__title">Direct Deposit</span>
          </div>
          <div class="bank__name js-bank">Bank Name</div>
          <div class="bank__acc-name">Account Name: <span class="js-acc-name">Business Name</span></div>
          <div class="bank__bsb">BSB: <span class="js-bsb">012345</span></div>
          <div class="bank__acc-number">Account Number: <span class="js-acc-no">123456789</span></div>
        </div>
      </div>
    </footer>
  </div>
  <!-- JS -->
  <script src="js/invoice.min.js"></script>
</body>
</html>
