.footer {
  @include grid-column(12);
  padding-top: rem-calc(10);
  padding-bottom: rem-calc(10);
  color: $color-text--inverse;
  background-color: $color-blue--dark;
}

.copyright {
  font-size: 80%;
  text-align: center;
}
