.footer {
  @include grid-column(12);
  padding-top: rem-calc(20);
  padding-bottom: rem-calc(20);
  color: $color-text--inverse;
  background-color: $color-theme--primary;

  .fa {
    color: $color-text--inverse;
    min-width: 50px;
  }
}
