.page {
  opacity: 0;

  .section-loaded & {
    opacity: 1;
  }
}

body {
  overflow: hidden;

  &.section-loaded {
    overflow: initial;
  }
}

.section {
  position: relative;
}

.block {
  position: relative;

  &__heading {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    margin-top: -1.5rem;
    font-size: 3rem;
    text-align: center;

    &--inverse {
      color: $color-text--inverse;
    }
  }

  &--title,
  &--content {
    @media #{$large-up} {
      top: 0;
      width: 50%;
      z-index: 200;
    }
  }

  &--title {
    @media #{$large-up} {
      position: absolute;
      left: 0;
      -webkit-transition: 1s width cubic-bezier(0.77, 0, 0.175, 1);
      transition: 1s width cubic-bezier(0.77, 0, 0.175, 1);
    }

    &.scroll-start {
      @media #{$large-up} {
        position: fixed;
      }
    }

    &.scroll-end {
      @media #{$large-up} {
        top: initial;
        bottom: 0;
      }
    }
  }

  &--content {
    @media #{$large-up} {
      position: relative;
      left: 50%;
      -webkit-transition: 1s width cubic-bezier(0.77, 0, 0.175, 1), 1s left cubic-bezier(0.77, 0, 0.175, 1);
      transition: 1s width cubic-bezier(0.77, 0, 0.175, 1), 1s left cubic-bezier(0.77, 0, 0.175, 1);
    }
  }
}
