.section {
  position: relative;
  min-height: rem-calc(500);
}

%section-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;

  &--half {
    @media #{$medium-up} {
      width: 50%;
    }
  }
}
